{% extends "index.html" %}
{% block Header %}
{% endblock %}
{% block Services %}
<div class="container">
		<div class="login">
			<form>
			<div class="col-md-6 login-do">
			<div class="login-mail">
					<input type="text" placeholder="Name" required=""  size ="80" maxlength="95">
					<i  class="glyphicon glyphicon-user"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Description" required="" size ="80">
					<i  class="glyphicon glyphicon-phone"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Email" required="" size ="80">
					<i  class="glyphicon glyphicon-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" required="" size ="80">
					<i class="glyphicon glyphicon-lock"></i>
				</div>
				<label class="hvr-skew-backward">
					<center><input type="submit" value="Submit"></center>
				</label>
			
			</div>
			<div class="col-md-6 login-right">
{% endblock %}
{% block Portfolio %}
{% endblock %}
{% block Team %}
{% endblock %}
{% block Clients %}
{% endblock %}
{% block Contact %}
{% endblock %}
